{% extends 'base.html' %}

{% block head %}
    <title>Home page</title>
{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-5">Hello, all</h1>
    <p class="lead">This is a simple flask project,this site consist of Home page,Sign-up page,Sign-in page,about-page</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

{% endblock %}

<!-- 
<a href="/">HOME</a>
<a href="/addstudent">Add New Student</a>
<a href="/list">List Student</a> -->