
{% extends 'base.html' %}

{% block head %}
    <title>List Page</title>
{% endblock %}

{% block body %}

    {{ msg }}
    <div style="padding: 20px;">        
    <table border = 2>
         <thead>
            <td>Name</td>
            <td>Address></td>
            <td>city</td>
            <td>Pincode</td>
         </thead>
         
         {% for row in students %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{ row["city"]}}</td>
               <td>{{row['pin']}}</td>	
            </tr>
         {% endfor %}
      </table>
   </div>
{% endblock %}