{% extends 'base.html' %}

{% block head %}
    <title>about page</title>
{% endblock %}

{% block body %}
<h2 class="aboutTitle">Our Product Features</h2>
    
<div class="articleContainer">
    <article class="aboutFeature feature1">
        <h2>Easy to use</h2>
        <p>This product helps the user to easily register their complaints. Very easy-to-use users can simply register and log in to our site. after that, they can easily register their complaint under the register complaint tab</p>
    </article>
    <article class="aboutFeature feature2">
        <h2>Complaint Registration</h2>
        <p>User can only register their complaint after completing the registration. After successful registration users can see the complaint registration tab under the complaint registration users can easily elaborate their problems</p>
    </article>
    <article class="aboutFeature feature3">
        <h2>Check Your Status</h2>
        <p>After the complaint registration user can check their status under the status tab. Here the status of the registered complaint is displayed. It will be updated periodically. It will help the user to know about the status of the complaints. In this our employees see your complaints and prepare the solution for your problems. The time taken to give the solution is depends on the type of the problem that the customer faces.</p>
    </article>
    <article class="aboutFeature feature4">
        <h2>We wil take care</h2>
        <p>Once the complaint was registered by the user. our employees see your complaints and prepare the solution for your problems. The time taken to give the solution is depends on the type of the problem that the customer faces. The solution that defnetly satisfies and solves the customer problems.</p>
    </article>
    <article class="aboutFeature feature5">
        <h2>Best Solution</h2>
        <p>The special type of analysis team is there to analys the problem and give better solution to the customer.The time taken to give the solution is depends on the type of the problem that the customer faces. The solution that defnetly satisfies and solves the customer problems.</p>
    </article>
</div>

{% endblock %}