{% extends 'base.html' %}

{% block head %}
    <title>Home page</title>
    
{% endblock %}
    
{% block body %}
<!-- <div class="home">
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div> -->
  <!-- <h2 class="home">hello</h2> -->
  <h2 id="infoMessage">{{msg}}</h2>
  <div class="circle"></div>
  <div class="content">
    <div class="textbox">
      <h2>Did you have a problem<br>here is your <span>Solution</span></h2>
      <p>If you have any problems, we are here to solve all your problems one by one. We are giving you the best and standard solution. At first, you have to describe your issue in a detailed manner after that you will get a world-class solution from our experts.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
  
{% endblock %}