{% extends 'base.html' %}

{% block head %}
    <title>Signup page</title>
{% endblock %}

{% block body %}

<h2>sign up page</h2>
<form action="/signup" method="post">
    <label>Name</label><br>
    <input type="text" name="name"><br><br>

    <label>Email</label><br>
    <input type="email" name="name"><br><br>

    <label>Phone</label><br>
    <input type="number" name="phone"><br><br>

    <label>Password</label><br>
    <input type="password" name="password"><br><br>

    <label>Re-type Password</label><br>
    <input type="password" name="repassword"><br><br>

    <input type="submit">

</form>


{% endblock %}
