/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(19, 18, 107);
	display: flex;
	justify-content: center;
	align-items: center;
}
.image{
    border-radius: 100px;
	
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(66, 87, 204);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(130, 99, 189);
	padding: 25px;

}
.right {
	position: initial;
	background-color: rgb(68, 163, 76);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(125, 192, 231);
}
